<app-blank pageName="{{product.name}} Stok Hareketleri"
           [routes]="['Kayıtlar','Stoklar',product.name + ' Stok Hareketleri']">
  <app-section sectionTitle="{{product.name}} Stok Hareketleri">
    <div class="form-group row">
      <div class="col-9">
        <button class="btn btn-success" (click)="exportToExcel()">
          <i class="fa-solid fa-file-excel me-1"></i>
          Excel'e Aktar
        </button>
        <button class="btn btn-info" data-toggle="modal" data-target="#tListModal" style="margin-left: 5px">
          <i class="fa-solid fa-table me-1"></i>
          T Ekstre
        </button>
      </div>

      <div class="col-3">
        <input [(ngModel)]="search" type="search" class="form-control" placeholder="Aranacak değer girin...">
      </div>
    </div>

    <div class="form-group mt-2">
      <table class="table table-hover">
        <thead>
        <tr>
          <th>#</th>
          <th>Tarih</th>
          <th>Fatura Numarası</th>
          <th>Açıklama</th>
          <th>G.Miktar</th>
          <th>Ç.Miktar</th>
          <th>Stok Durumu</th>
          <th>Fiyatı(Kdv Dahil)</th>
          <th>Toplam Tutar(Kdv Dahil)</th>
        </tr>
        </thead>
        <tbody>

        <tr *ngFor="let data of calculateRunningBalance(product.details)|productDetail: search|paginate: { itemsPerPage: 10, currentPage: p }; let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ data.date | date: 'dd.MM.yyyy' }}</td>
          <td>{{ data.invoiceNumber }}</td>
          <td>{{ data.description }}</td>
          <td>{{ data.deposit }}</td>
          <td>{{ data.withdrawal }}</td>
          <td [ngStyle]="{'color': data.balance < 0 ? 'red' : 'green'}">
            {{ data.balance }}
<!--            ({{data.balance < 0 ? 'Eksi Bakiye' : 'Stokta Var'}})-->
          </td>
          <td>{{ (data.grandTotal / (data.deposit + data.withdrawal)) | trCurrency: '₺':true }}</td>
          <td>{{ data.grandTotal | trCurrency: '₺':true }}</td>
        </tr>

        </tbody>
      </table>

      <div class="text-center">
        <pagination-controls
          (pageChange)="p = $event"
          previousLabel="Önceki"
          nextLabel="Sonraki"
        >
        </pagination-controls>
      </div>

    </div>
  </app-section>
</app-blank>

<!-- T List Modal -->
<div class="modal fade" id="tListModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-xl"> <div class="modal-content">
    <div class="modal-header">
      <h3 class="modal-title">{{product.name}} T Ekstre</h3>
      <button type="button" class="btn btn-dark" (click)="exportToExcelTFormat()"> <i class="fa-solid fa-exchange-alt me-1"></i> Excele Transfer Et
      </button>
      <button type="button" class="btn btn-outline-danger" data-dismiss="modal">
        <i class="fa-solid fa-x"></i>
      </button>
    </div>

    <div class="modal-body">
      <div class="row">
        <div class="col-6">
          <h4 style="color: green">Giriş (Alış)</h4>
          <table class="table table-bordered">
            <thead>
            <tr>
              <th>Tarih</th>
              <th>İşlem Numarası</th>
              <th>Açıklama</th>
              <th>Miktar</th>
            <!--  <th>Birim Fiyat</th>
              <th>Toplam Tutar</th>-->
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let creditEntry of creditEntries | paginate: { itemsPerPage: 10, currentPage: pCredit }; let i = index" style="color: green">
              <td>{{ creditEntry.date | date: 'dd.MM.yyyy' }}</td>
              <td>{{ creditEntry.invoiceNumber }}</td>
              <td>{{ creditEntry.description }}</td>
              <td>{{ creditEntry.deposit }}</td>
             <!-- <td>{{ creditEntry.grandTotal / creditEntry.deposit | number:'1.2-2' }}</td>
              <td>{{ creditEntry.grandTotal | number:'1.2-2' }}</td>-->
            </tr>
            </tbody>
            <tfoot>
            <tr>
              <pagination-controls (pageChange)="pCredit = $event"></pagination-controls>
            </tr>
            <tr>
              <td colspan="3" class="text-right">Toplam Giriş:</td>
              <td>{{ totalCredit }}</td>
            </tr>
            </tfoot>
          </table>
        </div>

        <div class="col-6">
          <h4 style="color: red">Çıkış (Satış)</h4>
          <table class="table table-bordered">
            <thead>
            <tr>
              <th>Tarih</th>
              <th>İşlem Numarası</th>
              <th>Açıklama</th>
              <th>Miktar</th>
            <!--  <th>Birim Fiyat</th>
              <th>Toplam Tutar</th>-->
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let debtEntry of debtEntries | paginate: { itemsPerPage: 10, currentPage: pDebt }; let i = index" style="color: red">
              <td>{{ debtEntry.date | date: 'dd.MM.yyyy' }}</td>
              <td>{{ debtEntry.invoiceNumber }}</td>
              <td>{{ debtEntry.description }}</td>
              <td>{{ debtEntry.withdrawal }}</td>
             <!-- <td>{{ debtEntry.grandTotal / debtEntry.withdrawal | number:'1.2-2' }}</td>
              <td>{{ debtEntry.grandTotal | number:'1.2-2' }}</td>-->
            </tr>
            </tbody>
            <tfoot>
            <tr>
              <pagination-controls (pageChange)="pDebt = $event"></pagination-controls>
            </tr>
            <tr>
              <td colspan="3" class="text-right">Toplam Çıkış:</td>
              <td>{{ totalDebt }}</td>
            </tr>
            </tfoot>
          </table>
        </div>
      </div>

      <div class="row mt-3">
        <div class="col-12 text-center">
          <h4>
            Kalan Stok:
            <span [ngStyle]="{'color': balance < 0 ? 'red' : 'green'}">
          {{ balance }}
        </span>
          </h4>
        </div>
      </div>
    </div>


  </div>
  </div>
</div>
